
[tool.poetry]
name = "lightrag-project"
version = "0.1.0"
description = "A project to develop and test the lightrag library"
authors = ["Your Name <your.email@example.com>"]
license = "MIT"

packages = [
    { include = "use_cases", from = "." },
    { include = "benchmarks", from = "." },
    { include = "docs", from = "." },
]

[tool.poetry.dependencies]
python = ">=3.11, <4.0"
lightrag = { path = "./lightrag", develop = true }
sphinx = "^7.3.7"
groq = "0.5.0"


[tool.poetry.group.dev.dependencies]
langchain = "^0.1.16"
llama-index = "^0.10.30"
pre-commit = "^3.7.0"
litellm = "^1.35.34"
haystack-ai = "^2.0.1"
torchvision = "^0.18.0"
torch = "^2.3.0"
langsmith = "^0.1.56"
langchain-openai = "^0.1.6"
pyvis = "^0.3.2"
llama-index-llms-ollama = "^0.1.3"
anthropic = "^0.26.0"
google-generativeai = "^0.5.4"
transformers = "^4.41.0"
torchmetrics = "^1.4.0.post0"
lightning = "^2.2.4"
dspy-ai = "^2.4.9"
jupyter = "^1.0.0"
ipykernel = "^6.29.4"
colorama = "^0.4.6"
dataclasses-jsonschema = "^2.16.0"
groq = "^0.5.0"

[tool.poetry.group.doc.dependencies]
pydata-sphinx-theme = "^0.15.3"
sphinx-design = "^0.6.0"
sphinx-copybutton = "^0.5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
