name: Python Tests

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.11, 3.12]

    steps:
      - uses: actions/checkout@v3 # Updated to the latest version
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4 # Updated to the latest version
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies
        run: |
          poetry config virtualenvs.create false
          poetry install

      - name: Run tests with pytest
        run: poetry run pytest

      - name: Upload pytest results as an artifact (optional)
        uses: actions/upload-artifact@v3 # Updated to the latest version
        if: always() # Always run this step to ensure test results are saved even if previous steps fail
        with:
          name: pytest-results
          path: .pytest_cache
